@model MadeInCanadaForum.Models.Discussion

@{
    ViewData["Title"] = "Discussion Details";
}

<h1>@Model.Title</h1>

<div>
    <p>Posted @Model.CreateDate</p>
    @if (!string.IsNullOrEmpty(Model.ImageFilename))
    {
        <img src="~/photos/@Model.ImageFilename" alt="Discussion Image" style="width: 300px; height: auto;" />
    }
    <p class="lead mt-3">@Model.Content</p>
</div>
<hr />
<h4>Comments</h4>
<hr />
@foreach (var comment in Model.Comments)
{
    <div>
        <p>@comment.Content</p>
        <small>Posted on: @comment.CreateDate.ToString("g")</small>
        <hr />
    </div>
}

<div>
    <form asp-action="Create" asp-controller="Comments">
        <input type="hidden" name="DiscussionId" value="@Model.DiscussionId" />
        <div class="mb-3">
            <label asp-for="Content" class="control-label"></label>
            <textarea name="Content" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" value="Add Comment" class="btn btn-primary" />
        </div>
    </form>
</div>
